# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the enitre vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore
/.vs/BeamNG Career Money/copilot-chat/0bfac431/sessions
/.vs/BeamNG Career Money/copilot-chat/0bfac431/sessions/226f1691-40f9-4910-ac12-e00bb0b478ee
/.vs/BeamNG Career Money/copilot-chat/0bfac431/sessions/4a387343-1127-4c71-9c79-39d9bfc8c7c7
/.vs/BeamNG Career Money/copilot-chat/0bfac431/sessions/54f725f2-1421-4704-ae84-f579514d3dc2
/.vs/BeamNG Career Money/copilot-chat/0bfac431/sessions/5742ade4-6535-4fe2-ac20-4d0707a2effd
/.vs/BeamNG Career Money/copilot-chat/0bfac431/sessions/b32fbb66-a9e9-47a7-bc8e-22d921f6bc42
/.vs/BeamNG Career Money/CopilotIndices
/.vs/BeamNG Career Money/CopilotIndices/17.13.449.12402
/.vs/BeamNG Career Money/CopilotIndices/17.13.449.12402/CodeChunks.db
/.vs/BeamNG Career Money/CopilotIndices/17.13.449.12402/SemanticSymbols.db
/.vs/BeamNG Career Money/CopilotIndices/17.14.734.62261
/.vs/BeamNG Career Money/CopilotIndices/17.14.734.62261/CodeChunks.db
/.vs/BeamNG Career Money/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
/.vs/BeamNG Career Money/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
/.vs/BeamNG Career Money/CopilotIndices/17.14.734.62261/SemanticSymbols.db
/.vs/BeamNG Career Money/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
/.vs/BeamNG Career Money/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
/.vs/BeamNG Career Money/FileContentIndex
/.vs/BeamNG Career Money/FileContentIndex/196f6468-d93a-43de-b827-c3bf1a988890.vsidx
/.vs/BeamNG Career Money/FileContentIndex/3185e04b-42d6-4618-899b-3e66566155b0.vsidx
/.vs/BeamNG Career Money/FileContentIndex/992f2c61-7ce7-44a3-b220-25ec27853ec0.vsidx
/.vs/BeamNG Career Money/FileContentIndex/c683e5cb-5555-4429-abc0-9579f8cd2db0.vsidx
/.vs/BeamNG Career Money/FileContentIndex/efb9c699-ae0f-40e7-9d4f-cedea129509f.vsidx
/.vs/BeamNG Career Money/v17
/.vs/BeamNG Career Money/v17/.suo
/.vs/BeamNG Career Money/v17/DocumentLayout.backup.json
/.vs/BeamNG Career Money/v17/DocumentLayout.json
/BeamNG Career Money.sln
/BeamNG Career Money/BeamNG Career Money.pyproj
